<!DOCTYPE html>
<html>
<head>
  <title>StagereadsServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src="http://a0.twimg.com/profile_images/74777289/screenshot2_bigger.png"/>
<%= yield %>

</body>
</html>
